.tooltip-container_image {
  width: 100%;
}

.image_tip {
  width: 200px;
  height: 220px;
  margin-top: 5px;
  border-radius: 10px;
  margin-left: 20%;
}

.image_tip-person {
  width: 200px;
  height: 220px;
  margin-top: 5px;
  border-radius: 10px;
}


.image_tip-providers {
  width: 200px;
  height: 220px;
  margin-top: 5px;
  border-radius: 10px;
}

.tooltip-container_data {
  width: 100%;
}