.dashboard-container {
  display: none;
}

.util-space {
  margin-right: 4px;
}

@media (min-width: 760px) {
  .dashboard-container {
    display: block;
    height: 100%;
    background-color: rgb(29, 28, 28);
    &_links {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      &-header {
        color: white;
        border-bottom: 1px grey solid;
        margin-bottom: 15px;
        & h1 {
          margin: 15px auto;
          font-size: 1rem;
          text-align: center;
        }
      }
      &-link {
        height: 2.5rem;
        margin-left: 5px;
        margin-top: 3px;
        align-items: center;
        text-align: start;
        color: white;
        display: flex;
        text-decoration: none;
      }

      &-link:hover {
        background-color: black;
      }
    }
  }
}
