.container-popular {
    margin-top: 30px;
}



.popular-title {
    margin: 10px auto;
    text-align: center;
    font-size: 2rem;
    background-color: #111516;
    color: white;
    width: 70%;
    margin: auto;
    text-justify: auto;
}

.container-popular_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 20px auto 0 auto;
}