.movie-title {
    text-align: center;
    font-size: 2rem;
    background-color: #111516;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-justify: auto;
}

.container-movie {
    display: grid;
    grid-template-areas: "type type"
        "content content";
    grid-template-columns: 0.7fr 1fr;
    margin-bottom: 5px;
}

.container-movie_type {
    grid-area: type;
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.container-movie_content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.height-auto_movie {
    grid-template-rows: 1fr !important;
}

.container-movie_pagination {
    margin: auto;
    padding: 20px;
}

@media (min-width:500px) {
    .container-movie {
        grid-template-areas: "type content";
        grid-template-columns: 0.2fr 1fr;
    }

    .movie-title {
        width: 70%;
    }

    .container-movie_type {
        width: 250px;
    }
}