.content-separate {
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.main-content {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100vh;
}

.dashboard {
  display: none;
}

@media (min-width: 980px) {
  .content-separate {
    grid-template-columns: 1.5fr 7fr;
  }

  .dashboard {
    display: block;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    position: fixed;
    width: 12%;
  }
  
  .main-content {
    grid-column: 2;
    display: grid;
    grid-template-rows: 2fr 5fr;
    padding-left: 5px;
  }
}

@media (min-width: 1109px) {
  .dashboard {
    width: 11%;
  }
}

@media (min-width: 1100px) {
  .content-separate {
    grid-template-columns: 0.8fr 7fr;
  }
}
