.content-separate {
  display: grid;
  gap: 10px;
  grid-template-areas: 
  'd m m'
  'd m m'
  'd f f';
}

.main-content {
  grid-column: 1;
  grid-column: 1;
  width: 100%;
  grid-area: m;
}

.footer {
  grid-area: f;
}

.dashboard {
  display: none;
  grid-area: d;
}

@media (min-width: 980px) {
  .content-separate {
    grid-template-columns: 1.5fr 7fr;
  }

  .dashboard {
    display: block;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    position: fixed;
    width: 12%;
    grid-area: d;
  }
  
  .main-content {
    grid-column: 2;
    display: grid;
    grid-template-rows: 0.5fr 1.2fr;
    overflow-y: clip;
  }
}

@media (min-width: 1109px) {
  .dashboard {
    width: 11%;
    grid-area: d;
  }
}

@media (min-width: 1100px) {
  .content-separate {
    grid-template-columns: 0.8fr 7fr;
    overflow-x: hidden;
  }
}
