.footer-content {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 3/4;
    align-content: center;
    background-color: #0f0f0f;
}

.footer-content_firts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    box-shadow: 0px 1px grey;
}

.footer-content_firts > a {
    color: white;
    text-decoration: none;
    width: 7rem;
    margin-bottom: 5px;
}

.footer-content_second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto 3px;
    padding: 3px;
    box-shadow: 0px 1px grey;
}

.footer-content_third {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    box-shadow: 0px 1px grey;
}

.footer-content_third > a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    width: 7rem;
}