.series-title {
    text-align: center;
    font-size: 2rem;
    background-color: #111516;
    color: white;
    width: 100%;
    margin: auto;
    text-justify: auto;
}

.container-series {
    display: grid;
    grid-template-areas: "type content";
    grid-template-columns: 0.7fr 1fr;
}

.container-series_type {
    grid-area: type;
    display: flex;
    position: fixed;
    flex-direction: column;
    margin: 25px 15px;
    min-height: 39hv;
}

.container-series_type>button {
    margin-bottom: 10px;
    background-color: #111516;
    border: 1px solid black;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
    color: #e7e8e8;
}

.container-series_type>button:hover,
.container-series_type>button:hover:active {
    background-color: #cfd0d0;
    color: #050607;
}

.container-series_content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.height-auto_series {
    grid-template-rows: 1fr !important;
}

.container-series_pagination {
    margin: auto;
    padding: 20px;
    height: 80px;
}

@media (min-width:500px) {
    .series-title {
        width: 70%;
    }

    .container-series {
        grid-template-columns: 0.2fr 1fr;
    }

    .container-series_type {
        position: absolute;
    }
}